html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

#map {
  height: 750px;
  width: 100%;
}

h2{
  text-align: center;
}

.box{
  width: 25rem;
  height: 5rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.box:hover{
  color: orange;
}